<footer>
  <div id="main-container-footer">
    <div>
      <img class="icon-footer" src="./assets/icons/facebook.svg" alt="facebook">
      <img class="icon-footer" src="./assets/icons/google-maps.svg" alt="google maps">
      <img class="icon-footer" src="./assets/icons/instagram.svg" alt="instagram">
    </div>
    <p id="name">Sazón Pa' Ti</p>
    <p id="copyright">Copyright &#169; 2022 Sazón Pa' Ti</p>
    <p class="legal"><a class="legal">Informacion legal</a>  | <a class="legal" href="">Politica de privacidad</a></p>
  </div>
</footer>
