<section>
  <div id="left">
    <h2>¿Alguna sugerencia?</h2>
    <p>Ayudanos a mejorar con tus sugerencias y comentarios</p>
  </div>
  <div id="feedback">
    <form>
      <div>
        <input type="text" name="" id="day" placeholder="Día">
        <input type="text" name="" id="month" placeholder="Mes">
        <input type="text" name="" id="year" placeholder="Año">
      </div>
      <div>
        <input type="text" name="" id="phone" placeholder="Numero de contacto">
        <br>
        <input type="text" name="" id="feedbackInput" placeholder="Comentarios y/o sugerencias">

      </div>
      <input type="button" value="Enviar">
    </form>
  </div>
</section>
