<nav id="desktop">
  <div>
    <img src="../../assets/img/logoWhite.png" alt="Sazón Pa Ti">
  </div>
  <div>
    <ul>
      <li><a href="#">INICIO</a></li>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><a href="#">UBICACION</a></li>
      <li><a href="#">ACERCA DE</a></li>
    </ul>
  </div>
</nav>

<nav role ="mobile" id="mobile">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a href="#">INICIO</a></li>
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><a href="#">UBICACION</a></li>
      <li><a href="#">ACERCA DE</a></li>
    </ul>
  </div>
</nav>
