
<app-dish
  name="Lonche de bañado"
  src="../../../../../assets/img/dishes/lonche bañado de pierna pibil.png"
  description="Birote partido a la mitad rellano de pierna pibil bañado al estilo Sazón Pa Ti.">
</app-dish>

<app-dish
  name="Tacos de cochinita"
  src="../../../../../assets/img/taco.png"
  description="Tortilla recien hecha con carne de cochinita preparado con el Sazón Pa’ Ti acompañado de lechuga y cebolla fresca.">
</app-dish>

<app-dish
  name="Lonche de pierna"
  src="../../../../../assets/img/dishes/lonche de pierna.png"
  description="Birote partido a la mitad rellano de pierna adobada al estilo Sazón Pa Ti compañado de verdura.">
</app-dish>
